<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="
      background-image: url(https://media.istockphoto.com/photos/mature-doctor-and-nurse-discussing-patient-case-picture-id1307543555?b=1&k=20&m=1307543555&s=170667a&w=0&h=KKk1RkwzUkT_a6Kqf0jh7aBEVpIMG048FALjEAPyDp0=);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
    "
  >
    <div class="container-fluid">
      <div>
        <div>
          <h1 class="h1 text-center text-success">Patient Info</h1>
        </div>
        <div>
          <label for="patientId" class="fw-normal fs-4 py-2">Patient Id</label>
          <input
            type="text"
            class="form-control w-25"
            name="patientId"
            required
            autofocus
            placeholder="Patient Id"
            value="<%= patientId %> "
          />
          <label for="name" class="fw-normal fs-4 py-2">Patient Name</label>
          <input
            type="text"
            class="form-control w-25"
            name="patientName"
            required
            autofocus
            placeholder="Name"
            value="<%= patientName %> "
          />
          <label for="patientAge" class="fw-normal fs-4 py-2"
            >Patient Age</label
          >
          <input
            type="text"
            class="form-control w-25"
            name="patientAge"
            required
            autofocus
            placeholder="Patient Age"
            value="<%= patientAge %> "
          />
          <label for="mobileNo" class="fw-normal fs-4 py-2"
            >Patient Mobile Number</label
          >
          <input
            type="text"
            class="form-control w-25"
            name="patientMobileNo"
            required
            autofocus
            placeholder="1234...."
            value="<%= patientMobileNo %> "
          />
          <label for="address" class="fw-normal fs-4 py-2"
            >Patient Address</label
          >
          <input
            type="text"
            class="form-control w-25"
            name="patientAddress"
            required
            autofocus
            placeholder="apartment,studio or floor"
            value="<%= patientAddress %> "
          />
          <label for="patientDisease" class="fw-normal fs-4 py-2 text-secondary"
            >Patient Disease</label
          >
          <input
            type="text"
            class="form-control w-25"
            name="patientDisease"
            required
            autofocus
            placeholder="Fever,Headaches,Cold and Flu..."
            value="<%= patientDisease %> "
          />
        </div>
        <div class="py-4 ms-5">
          <a href="/admin" class="btn btn-ig btn-primary ms-5">
            Back To Home Page
          </a>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
